@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }

}

.gifster-webcam-preview {
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2147483647;
}

.gifster-rendering {
    position: absolute;
    color: indianred;
    top: 10px;
    right: 10px;
    font-weight: bold;
    text-shadow: 1px 1px black;
}

.gifster-rendering-success {
    position: absolute;
    color: mediumseagreen;
    top: 10px;
    right: 10px;
    font-weight: bold;
}

.preview-fade-in {
    animation: fadein 0.8s;
    animation-fill-mode: forwards;
}

.preview-fade-out {
    animation: fadeout 0.8s;
    animation-fill-mode: forwards;
}

.gifster-timer, .gifster-timer-inside {
    line-height: 50px;
    width: 50px;
    text-align: center;
    height: 50px;
    font-size: 30px;
    box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.75);
    background: rgba(133, 15, 90, .3);
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    border: 2px solid rgb(133, 15, 90);
    border-radius: 50%;
    font-family: monospace;
    z-index: 2147483647;
}

.gifster-timer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}

.gifster-timer-inside {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}

.gifster-area {
    border: 12px solid rgb(133, 15, 90);
    border-radius: 5px;
    position: fixed !important;
    z-index: 2147483645;
    cursor: move;
    box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.75);
}

.gifster-inner-area {
    width: inherit;
    height: inherit;
    position: relative;
    z-index: 2147483646;
}

.gifster-toolbar {
    width: 100%;
    background: rgb(133, 15, 90);
    height: 52px;
    bottom: 0;
    z-index: 2147483647;
    cursor: move;
}

.gifster-button {
    font-size: 15px;
    width: 20%;
    float: left;
    color: rgba(255,255,255,.8);
    height: 40px;
    margin-top: 12px;
    border: 1px solid rgba(0,0,0, .2);
    background: rgb(133, 15, 90);
    transition: background 500ms ease;
}

.gifster-button:not(:first-of-type) {
    margin-left: 12px;
}

.gifster-button:hover {
    transition: background 500ms ease;
    background: rgb(100, 12, 75);
}

.gifster-area-through {
    pointer-events: none;
}

.gifster-area .ui-resizable-handle{
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: nwse-resize;
    z-index: 2147483647;
    width: 0;
    height: 0;
    margin-bottom: -12px;
    margin-right: -12px;
    border-style: solid;
    border-width: 0 0 16px 16px;
    border-color: transparent transparent rgba(0,0,0,.2) transparent;
}